:root {
    --background-color: #FFF;
    --primary-color: rgba(236, 128, 160, 0.1);
    --secondary-color: #E5F8FD;
    --button-color: #E76088;
    --Text---Kid-toys: #1A1114;
    /* --option-color: rgba(236, 128, 160, 0) */
}




